[Unit]
Description=Network Next Proxy

[Service]
ExecStart=/app/proxy
EnvironmentFile=/app/proxy.env
Restart=always
RestartSec=3
LimitNOFILE=10000000

[Install]
After=network-online.target
Wants=network-online.target