[Unit]
Description=Network Next Proxy

[Service]
ExecStart=/app/proxy
ExecStartPost=/bin/bash -c "prlimit --nofile=20000000:20000000 --pid $(pidof app)"
EnvironmentFile=/app/proxy.env
Restart=always
RestartSec=3